/* 
font families:
font-family: 'Krub', sans-serif; [wght@200;300;400;500;600;700]
font-family: 'Noto Sans TC', sans-serif; [wght@300;400;500;700;900]
*/

* {
	margin: 0;
	padding: 0;
}

.heading {
	width: auto;
	height: auto;
}

#pro-pic {
	margin: 1em;
	height: 40vh;
	width: 10vw;
	position: fixed;
	float: left;
	background-image: url(/images/IMG_20191027_181637.jpg);
	background-size: cover;
	border-radius: 50%;
	box-shadow: 1px 8px 12px 5px #000000b0;
}

#pro-name {
	margin-top: 1%;
	margin-right: 42%;
	font-size: 2.5em;
	float: right;
	font-family: "Krub", sans-serif;
	font-weight: 500;
}
