* {
	margin: 0 auto;
	padding: 0 auto;
}

#pro-pic {
	background-color: tomato;
	height: auto;
	width: 100%;
	background-image: url(D:\Work Space\Portfolio\abhishekdam.github.io\images\IMG_20191027_181637.jpg);
	background-size: 100px;
}
