* {
  margin: 0;
  padding: 0;
}

.about-me {
  font-size: 1.2em;
}

.about-me-1 {
  font-size: 1.2em;
  font-weight: 600;
}

.profile-pic {
  border-radius: 50%;
  height: 5em;
}

.profile-pic-footer {
  border-radius: 50%;
  height: 3em;
}

.certificate-bg-image-1 {
  background-image: url("/image/0001.jpg");
  background-size: cover;
}

.certificate-bg-image-2 {
  background-image: url("/image/0002.jpg");
  background-size: cover;
}

.certificate-bg-image-3 {
  background-image: url("/image/0003.jpg");
  background-size: cover;
}
